

#fiddle-tune-container {

}

.song-part {
    margin-top: 30px;
}

.song-line-container {
    margin-top: 10px;
}

/* Horizontal line of chords. */
.song-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.song-chord-container:nth-child(4n) {
    border-right: 1px solid rgb(235, 235, 235);
}

.song-chord-container:first-child {
    border-left: 1px solid rgb(235, 235, 235);
}

/* The individual chord of the line */
.song-chord-container {
    width: 100%;
    text-align: center;
}

.song-chord {
    font-size: 1.5em;
    font-weight: bold;
}
