


.song-key {
    background-color: var(tertiary);
    color: var(--content);
    border: 1px solid var(--secondary);
    border-radius: 1px;
    padding: 0px 6px;
}


.song-key-container {
    display: flex;
    flex-direction: row;
    /* justify-items: flex-start; */
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    font-size: 13px;
}

.song-entry-container {
    display: flex;
    flex-direction: row;
    column-count: 2;
    column-gap: 20px;
    gap: 20px;

}

.song-entry {
    background-color: var(--tertiary);
    padding: 10px;
    border-radius: 2px;
    width: 50%;
}