

.chord-meta-item {
    display: flex;
    flex-direction: row;
    /* justify-items: flex-start; */
    align-items: center;
    gap: 10px;
    margin: 15px 0px;
}

.song-key {
    background-color: --var(tertiary);
    color: var(--content);
    border: 2px solid var(--border);
    border-radius: 6px;
    padding: 0px 8px;
}

/*  */
#chart-select {
    background-color: var(--tertiary);
    color: var(--content);
    padding: 6px 10px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-align-last: center;
    margin: 0px 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: var(--tertiary) url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat;
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 12px auto;
    padding-right: 20px;
}


.song-part {
    margin-top: 15px;
}

.song-line-container {
    margin-top: 10px;
}

/* Horizontal line of chords. */
.song-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.song-chord-container:nth-child(4n) {
    border-right: 1px solid var(--content)
}

.song-chord-container:first-child {
    border-left: 1px solid var(--content)
}

/* The individual chord of the line */
.song-chord-container {
    width: 100%;
    text-align: center;
}

.song-chord {
    font-size: 1.5em;
    font-weight: bold;
}
